<!DOCTYPE html>
<html>
<head>
	<title>Edit Team</title>
</head>
<body>
	<header>
		<h1>Soccer Top Teams</h1>
		<button>login</button>
	</header>
	
	<form action="#">
		<label for="title">Title</label>
		<input type="text" id="title" name="title">

		<label for="info">Information</label>
		<input type="text" id="info" name="info">
		
		<label for="league">League</label>
		<select id="league" name="league">
			<option value="spanish">spanish</option>
			<option value="english">english</option>
		</select>
		<input type="submit">
	</form>


	<footer>
		<p>Udacity Full-stack nanodegree project by Karim Tawfik</p>
	</footer>

</body>
</html>