<!DOCTYPE html>
<html>
<head>
	<title>Soccer Top Teams</title>
</head>
<body>
	<header>
		<h1><a href="{{url_for('mainPage')}}">Soccer Top Teams</a></h1>
		{% if logged : %}
		<h2><a href="{{url_for('gdisconnect')}}">logout</a></h2>
		{% else : %}
		<h2><a href="{{url_for('showLogin')}}">login</a></h2>
		{% endif %}
	</header>
	<nav>
		<h1>leagues</h1>
		<ul>
			{% for league in leagues %}
			<li>{{ league.name }}</li>
			{% endfor %}
		</ul>
	</nav>
	<section>
		<h1>latest items</h1>
		{% if logged : %}
		<h2>Add Team</h2>
		{% endif %}
		<ul>
			{% for team in teams %}
			<li>{{ team.name }}</li>
			{% endfor %}
		</ul>
	</section>


	<footer>
		<p>Udacity Full-stack nanodegree project by Karim Tawfik</p>
	</footer>

</body>
</html>