<!DOCTYPE html>
<html>
<head>
	<title>Soccer Top Teams</title>
</head>
<body>
	<header>
		<h1>Soccer Top Teams</h1>
		<h2><a href="#">login</a></h2>
	</header>
	<nav>
		<h1>leagues</h1>
		<ul>
			{% for league in leagues %}
			<li>{{ league.name }}</li>
			{% endfor %}
		</ul>
	</nav>
	<section>
		<h1>latest items</h1>
		<ul>
			{% for team in teams %}
			<li>{{ team.name }}</li>
			{% endfor %}
		</ul>
	</section>


	<footer>
		<p>Udacity Full-stack nanodegree project by Karim Tawfik</p>
	</footer>

</body>
</html>